#image {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

#title {
    text-align: center;
    margin-bottom: 100px;
}

#title h1 {
    font-size: 3rem;
}

#quote {
    font-size: 1.2rem;
    color: #333333;
}

#img-caption {
    text-align: center;
    margin-bottom: 30px;
}

section {
    margin-bottom: 50px;
}

#tribute-info h3 {
    text-align: center;
    margin-bottom: 50px;
}

h4 {
    margin-bottom: 10px;
}

#tribute-info {
    width: 60vw;
    margin: auto;
    line-height: 1.5rem;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

footer {
text-align: center;
background-color: #f2f2f2;
padding: 20px;
}